<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Add new item'"></title>
    <link rel="stylesheet" type="text/css" media="all" 
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:replace="navbar :: items-navbar"></div> <!-- Include the navbar -->
    <div class="container">
        <h1>StockSync</h1>
        <a href="/searchItem">
            <button>Back to search</button>
        </a>    <!-- dump isItem - separate pages -->
        <div style="margin-top: 20px;"></div>
        <form th:id="addItemForm" action="/insertItem" method="POST" class="item-form">
            <label for="itemName"></label>
            <input type="text" id="itemName" name="itemName" placeholder="Enter item name">
            <div style="margin-top: 10px;"></div>
            <label for="itemSize"></label>
            <input type="text" id="itemSize" name="itemSize" placeholder="Enter item size">
            <div style="margin-top: 10px;"></div>
            <label for="itemPrice"></label>
            <input type="text" id="itemPrice" name="itemPrice" placeholder="Enter item price">
            <div style="margin-top: 10px;"></div>        
            <button id="submit-item">Add Item</button> <!-- change submit item elsewhere-->
        </form>
    </div>
    <script src="js/script.js"></script>
</body>

</html>
