<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" media="all" 
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:insert="navbar :: navbar"></div> <!-- Include the navbar -->
    <div class="container">
        <h1>Welcome to StockSync</h1>
        <img src="/logo.jpg" alt="StockSync Logo" class="logo"> <!-- Logo added here -->
    </div>
    <script src="js/script.js"></script>
</body>
</html>
