<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Search Results</title>
    <link rel="stylesheet" type="text/css" media="all" 
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:insert="navbar :: navbar"></div> <!-- Include the navbar -->
    <div class="container">
        <h1>StockSync</h1>
        <div id="results">
            <a href="/searchItem">
                <button>Back to search</button>
            </a>
            <!-- Form for deleting selected items -->
            <button type="submit" id="deleteSelectedItems">Delete Selected</button> <!-- Add delete button -->
            <label for="shipToWarehouse" style="margin-left: 10px">Destination Warehouse ID:</label>
            <input id="shipToWarehouse"></input>
            <button id="shipToWarehouseButton">Ship To Warehouse</button>
            <!-- Hidden input field to store selected warehouse IDs -->
            <input type="hidden" name="selectedItems" id="selectedItems">
            <table>
                <tr>
                    <th>Select</th> <!-- Header for checkboxes column -->
                    <th>Item Name</th>
                    <th>Item Size</th>
                    <th>Item Price</th>
                    <th>Ship To Warehouse QTY</th>
                </tr>
                <tr th:each="item : ${items}" th:id="${item.itemId}">
                    <td> <!-- Add checkbox for each item-->
                        <input type="checkbox" class="itemCheckbox" th:value="${item.itemId}">
                    </td>
                    <td th:text="${item.itemName}"></td>
                    <td th:text="${item.itemSize}"></td>
                    <td th:text="${item.itemPrice}"></td>
                    <td><input type="text" class="inputQty"></td>
                    <td>
                        <a th:href="@{/editItem(ItemId=${item.itemId})}">
                            <button>Edit</button>
                        </a>                      
                    </td>  
                </tr>                
            </table>
        </div>
        <ul class="pagination">
        <span>Jump to:</span>
            <li th:each="page : ${pagesArray}">
                <a th:href="@{itemSearchResults(page=${page},sortBy=${sortBy},sortMethod=${sortMethod},searchKey=${searchKey},searchValue=${searchValue})}" th:text="${page}" th:class="${currentPage} == ${page}? 'active'"></a>
            </li>
            <span th:text="|of ${totalNumPages}|"></span>
        </ul>
        <span th:text="|Showing ${pageStartingNum} - ${pageEndingNum} of ${totalNumEntries} total items|"></span>
    <script src="js/script.js"></script>
</body>
</html>
