<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" media="all" 
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:insert="navbar :: navbar"></div> <!-- Include the navbar -->
    <div class="container">
        <h1>StockSync</h1>
        <input type="text" id="searchinput" placeholder="Search for an item...">
        <a href="/warehouseSearchResults?page=1">
          <button>Search</button>
        </a>
        <div style="margin-top: 25px;"></div>
        <a href="/addWarehouse">
            <button>Add Warehouse</button>
        </a>
    </div>
    <script src="script.js"></script>
</body>
</html>
