<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Page</title>
    <link rel="stylesheet" type="text/css" media="all" 
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="container">
        <h1>StockSync Squad</h1>
        <input type="text" id="searchInput" placeholder="Search for an item or warehouse...">
        <button onclick="searchItem()">Search</button>
        <div id="results">
          <ul>
            <li th:each="warehouse: ${warehouses}" th:text="${warehouse.warehouseName}"></li>
          </ul>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
