<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Search Results</title>
    <link rel="stylesheet" type="text/css" media="all" 
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="container">
        <h1>StockSync</h1>
        <div id="results">
            <a href="/search">
                <button>Back to search</button>
            </a>
            <table>
                <tr>
                    <th>Warehouse Name</th>
                    <th>Warehouse Address</th>
                    <th>Warehouse Longitude</th>
                    <th>Warehouse Latitude</th>
                </tr>
                <tr th:each="warehouse : ${warehouses}">
                    <td th:text="${warehouse.warehouseName}"></td>
                    <td th:text="${warehouse.warehouseAddress}"></td>
                    <td th:text="${warehouse.warehouseLong}"></td>
                    <td th:text="${warehouse.warehouseLat}"></td>
                </tr>
            </table>
        </div>
        <ul class="pagination">
            <li th:each="page : ${pagesArray}">
                <a th:href="@{warehouseSearchResults(page=${page})}" th:text="${page}" th:class="${currentPage} == ${page}? 'active'"></a>
            </li>
        </ul>
        <span th:text="|Showing ${pageStartingNum} - ${pageEndingNum} of ${totalNumEntries} total warehouses|"></span>
    </div>
    <script src="script.js"></script>
</body>
</html>
