<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Search Results</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:insert="navbar :: navbar"></div> <!-- Include the navbar -->
    <div class="container">
        <h1>StockSync</h1>
        <div id="results">
            <a href="/search">
                <button>Back to search</button>
            </a>
            <!-- Form for deleting selected warehouses -->
            <form id="deleteForm" action="/deleteSelectedWarehouses" method="post">
                <button type="submit" id="deleteSelected">Delete Selected</button> <!-- Add delete button -->
                <!-- Hidden input field to store selected warehouse IDs -->
                <input type="hidden" name="selectedIds" id="selectedIds">
            </form>
            <table>
                <tr>
                    <th>Select</th> <!-- Header for checkboxes column -->
                    <th>Warehouse Name</th>
                    <th>Warehouse Address</th>
                    <th>Warehouse Longitude</th>
                    <th>Warehouse Latitude</th>
                </tr>
                <tr th:each="warehouse : ${warehouses}">
                    <td> <!-- Add checkbox for each warehouse-->
                        <input type="checkbox" class="warehouseCheckbox" value="${warehouse.id}">
                    </td>
                    <td th:text="${warehouse.warehouseName}"></td>
                    <td th:text="${warehouse.warehouseAddress}"></td>
                    <td th:text="${warehouse.warehouseLong}"></td>
                    <td th:text="${warehouse.warehouseLat}"></td>
                    <td>
                        <form th:action="@{/updateWarehouse}" method="post">
                            <input type="hidden" name="id" th:value="${warehouse}" />
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>                
            </table>
        </div>
        <ul class="pagination">
            <li th:each="page : ${pagesArray}">
                <a th:href="@{warehouseSearchResults(page=${page},sortBy=${sortBy},sortMethod=${sortMethod},searchKey=${searchKey},searchValue=${searchValue})}" th:text="${page}" th:class="${currentPage} == ${page}? 'active'"></a>
            </li>
        </ul>
        <span th:text="|Showing ${pageStartingNum} - ${pageEndingNum} of ${totalNumEntries} total warehouses|"></span>
    </div>
    <script src="script.js"></script>
</body>
</html>
