<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Information Page</title>
    <link rel="stylesheet" type="text/css" media="all" 
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div th:insert="navbar :: warehouses-navbar"></div> <!-- Include the navbar -->
    <div class="container">
        <h1>Warehouse Information</h1>
        <div>
            <h2 th:text="${warehouse.warehouseName}"></h2> <!-- Display warehouse name -->
            <p><strong>Warehouse Address:</strong> <span th:text="${warehouse.warehouseAddress}"></span></p> <!-- Display warehouse address -->
            <p><strong>Longitude:</strong> <span th:text="${warehouse.warehouseLong}"></span></p> <!-- Display warehouse longitude -->
            <p><strong>Latitude:</strong> <span th:text="${warehouse.warehouseLat}"></span></p> <!-- Display warehouse latitude -->

        <div class="shipContainer" style="margin-top: 25px">
            <label for="shipToId">Destination Warehouse ID:</label>
            <input id="shipToId"></input>
            <button id="createShipment">Create Shipment</button>
            <button id="shipToCustomer">Ship to Customer</button>
        </div>


        <div id="resultsWarehouseItems">
            
            <table>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>QTY</th>
                    <th>Ship QTY</th>
                </tr>
                    
                <tr th:each="item : ${warehouseItems}" th:id="${item.itemId}" th:class="${warehouse.warehouseId}" th:attr="data-qty=${item.quantity}">
                    <td th:text="${item.itemName}"></td>
                    <td th:text="${item.itemSize}"></td>
                    <td th:text="${item.itemPrice}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td><input type="text" class="inputQty"></input></td>
                </tr>                
            </table>
        </div>

    </div>
    <script src="js/script.js"></script>
</body>
</html>
